.title-container{
    background-color:#3399CC;
padding:22px 20px;
color:white;
font-size:34px;
}

.nav-links{
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size:15px;
    font-weight:900;
}

.nav-link{
    overflow: hidden;
    background-color:#333333;
    padding:6px;
}
.logo{
    position: absolute;
    right:20px;
    top:90px;
}